/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  outline: none;
}

html {
  min-height: 100vh;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  /* sticky footer */
  display: flex;
  /* sticky footer */
  flex-direction: column;
  /* sticky footer */
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body.no-scroll {
  overflow-y: hidden;
  padding-right: 17px;
}

body > * {
  flex-shrink: 0;
  /* sticky footer */
}

/* Grid styles */
.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.container--fluid {
  max-width: unset;
}
.container--no-padding {
  padding: 0;
}
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}

/* Utility */
.none {
  display: none !important;
}

.button {
  padding-left: 25px;
  padding-right: 25px;
  height: 45px;
  line-height: 41px;
  border-radius: 7px;
  border: 2px solid #d60029;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
.button:hover {
  background-color: #e80000;
  border-color: #e80000;
  color: #FFF;
  transition: background-color .2s ease-in, border-color .2s ease-in, color .2s ease-in;
}
.button--solid {
  background-color: #d60029;
  color: #FFF;
}

.language-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 20px;
  color: #d60029;
  font-weight: 500;
}
.language-button:not(:last-child) {
  border-right: 2px solid #d60029;
}
.language-button--active {
  font-weight: 800;
}

.badge-button {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
  border: 1px solid #E1E1E1;
  background-color: #FFF;
  font-size: 14px;
  line-height: 34px;
}

.title-1 {
  font-weight: 800;
  font-size: 45px;
}

.title-2 {
  font-weight: 800;
  font-size: 35px;
}

.title-3 {
  font-weight: 800;
  font-size: 25px;
}

.input {
  padding-left: 20px;
  padding-right: 20px;
  height: 55px;
  border-radius: 7px;
  border: 1px solid #e3e3e3;
  font-size: 14px;
}
.input:focus {
  border-color: #d60029;
}

.freight-calc {
  padding: 37px 25px 40px;
  border-radius: 20px;
  background-color: #3451a0;
}

.freight-calc__title {
  margin-bottom: 35px;
  color: #FFF;
}

.freight-calc__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.freight-calc__input {
  width: 380px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .freight-calc__input {
    width: 278px;
  }
}

.freight-calc__button {
  height: 55px;
  width: 340px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .freight-calc__button {
    width: 245px;
  }
}

.transport-card {
  width: 270px;
}

.transport-card__image {
  position: relative;
  width: 100%;
  height: 163px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden;
}
.transport-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.transport-card__title-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(52, 81, 160, 0.7);
}

.transport-card__title {
  font-size: 20px;
  font-weight: 800;
  color: #FFF;
  text-align: center;
}

.transport-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 15px;
  height: calc(100% - 163px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #DEDEDE;
  background-color: #FFF;
}

.transport-card__content-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 25px;
  font-size: 14px;
}
.transport-card__content-list li {
  position: relative;
  padding-left: 42px;
}
.transport-card__content-list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url("./../img/hero/list-marker.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.transport-card__button {
  display: block;
  margin: 0 auto;
  height: 55px;
  width: calc(100% - 20px);
  font-weight: 500;
  font-size: 14px;
}

.production-form {
  padding: 40px 25px;
  border: 1px solid #DEDEDE;
  border-radius: 20px;
}

.production-form__title {
  margin-bottom: 10px;
}

.production-form__subtitle {
  margin-bottom: 20px;
}

.production-form__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
}

.production-form__input {
  width: 265px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .production-form__input {
    width: 210px;
  }
}

.production-form__button {
  width: 300px;
  height: 55px;
  line-height: 51px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .production-form__button {
    width: 162px;
  }
}

.container-card {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 30px 15px;
  width: 360px;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
  text-align: center;
  /* Tablet */
}
@media (max-width: 1199px) {
  .container-card {
    width: 273px;
  }
}

.container-card__title {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 20px;
}

.container-card__subtitle {
  margin-bottom: 20px;
}

.container-card__image {
  margin-top: auto;
  width: 100%;
  height: 180px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .container-card__image {
    height: 133px;
  }
}
.container-card__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.service-card {
  display: flex;
  flex-direction: column;
  padding: 17px 15px 27px;
  height: auto;
  width: 360px;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  background-color: #fafafa;
  /* Tablet */
}
@media (max-width: 1199px) {
  .service-card {
    width: 273px;
  }
}

.service-card__image {
  margin-bottom: 17px;
  width: 100%;
  height: 167px;
  border-radius: 10px;
  overflow: hidden;
  /* Tablet */
}
@media (max-width: 1199px) {
  .service-card__image {
    height: 125px;
  }
}
.service-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-card__title {
  display: flex;
  align-items: center;
  column-gap: 9px;
  margin-bottom: 17px;
  padding-left: 15px;
  font-size: 18px;
  font-weight: 800;
  /* Tablet */
}
@media (max-width: 1199px) {
  .service-card__title {
    font-size: 16px;
  }
}
.service-card__title img {
  width: 42px;
  height: 42px;
  object-fit: contain;
}

.service-card__text {
  margin-bottom: 22px;
  padding-left: 15px;
  padding-right: 15px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .service-card__text {
    font-size: 14px;
  }
}

.service-card__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 90%;
  height: 55px;
  line-height: 51px;
  font-size: 14px;
}

.slider {
  position: relative;
}

.slider__btn-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: scaleX(-1) translate(calc(100% + 20px), -50%);
  /* Tablet */
}
@media (max-width: 1199px) {
  .slider__btn-prev {
    top: 0;
    left: unset;
    right: 42px;
    transform: scaleX(-1) translateY(calc(-100% - 45px));
    background-color: #f6f6f6;
    padding: 10px;
    border-radius: 8px;
  }
  .slider__btn-prev svg {
    height: 30px;
    width: auto;
  }
}

.slider__btn-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(calc(100% + 20px), -50%);
  /* Tablet */
}
@media (max-width: 1199px) {
  .slider__btn-next {
    top: 0;
    transform: translateY(calc(-100% - 45px));
    background-color: #f6f6f6;
    padding: 10px;
    border-radius: 8px;
  }
  .slider__btn-next svg {
    height: 30px;
    width: auto;
  }
}

.tab {
  background-color: #f6f6f6;
}

.tab__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 67px;
  font-weight: 600;
  font-size: 20px;
}
.tab__button:hover {
  cursor: pointer;
}
.tab__button:hover .tab__icon {
  background-color: #e80000;
}
.tab__button:hover .tab__icon svg {
  stroke: #FFF;
}

.tab__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color .2s ease-in, transform .2s ease-in;
}
.tab__icon.active {
  transform: rotate(45deg);
}
.tab__icon svg {
  stroke: #e80000;
  transition: stroke .2s ease-in;
}

.tab__content {
  padding-left: 20px;
  padding-right: 20px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all .2s ease-in;
}
.tab__content.active {
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;
  opacity: 1;
}

.modal {
  position: fixed;
  top: -1000%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  overflow-y: auto;
  z-index: 9;
  cursor: pointer;
  transition: opacity .2s ease-in;
}
.modal.active {
  top: 0;
  opacity: 1;
}

.modal__content {
  margin: 0 auto;
  padding: 40px 45px;
  max-width: 560px;
  background-color: #FFF;
  text-align: center;
  cursor: default;
}
.modal__content.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal__close-button svg {
  stroke: #FFF;
  transform: rotate(45deg);
}

.modal-form__title {
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 11px;
}

.modal-form__subtitle {
  margin-bottom: 24px;
}

.modal-form__checkbox:not(:last-of-type) {
  margin-bottom: 10px;
}

.modal-form__input {
  margin-bottom: 25px;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #C9C9C9;
}

.modal-form__button {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  width: 100%;
  height: 54px;
  line-height: 50px;
}

.modal-form__notice {
  margin-top: 20px;
  font-size: 14px;
}

.custom-checkbox {
  display: flex;
  align-items: center;
}

.custom-checkbox__checkmark {
  position: relative;
  height: 20px;
  width: 20px;
  border: 2px solid #db002c;
  opacity: 0.6;
}

.custom-checkbox__hidden {
  display: block;
  width: 0;
  height: 0;
}
.custom-checkbox__hidden:checked ~ .custom-checkbox__checkmark {
  opacity: 1;
}
.custom-checkbox__hidden:checked ~ .custom-checkbox__checkmark::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 5px;
  height: 10px;
  border: solid #db002c;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, calc(-50% - 1px)) rotate(45deg);
}

.custom-checkbox__checkmark + .custom-checkbox__label {
  margin-left: 10px;
}

.custom-checkbox__label {
  font-size: 14px;
}

.select-wrapper {
  position: relative;
  margin-bottom: 25px;
}

.select {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #C9C9C9;
}
.select:focus {
  border-bottom-color: #d60029;
}

.select-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #d60029 transparent transparent transparent;
  pointer-events: none;
}

.header-top {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-top__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top__logo {
  width: 240px;
  height: 42px;
}
.header-top__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header-top__right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 25px;
}

.header-top__phone {
  font-weight: 800;
  font-size: 20px;
}

.header-top__email {
  font-size: 14px;
  color: #868686;
}

.header-top__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}

.header-top__calculate-button {
  /* Tablet */
}
@media (max-width: 1199px) {
  .header-top__calculate-button {
    display: none;
  }
}

.header-top__callback-button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.header-top__callback-button:hover .header-top__callback-button-arrow {
  transform: translateX(5px);
}

.header-top__callback-button-arrow {
  transition: transform .2s ease-in;
}

.header-top__languages {
  display: flex;
  align-items: center;
}

.header-bottom {
  padding-top: 15px;
  padding-bottom: 25px;
}

.header-bottom__list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .header-bottom__list {
    column-gap: 40px;
  }
}

.hero {
  padding-top: 75px;
  padding-bottom: 70px;
  background-color: #F6F6F6;
}

.hero__content {
  background-image: url("./../img/hero/train.jpg");
  background-position: right;
  background-repeat: no-repeat;
  /* Tablet */
}
@media (max-width: 1199px) {
  .hero__content {
    background: none;
  }
}

.hero__title {
  margin-bottom: 20px;
  max-width: 420px;
}

.hero__badge-buttons {
  display: flex;
  column-gap: 10px;
  margin-bottom: 30px;
}

.hero__list {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.hero__list li {
  position: relative;
  padding-left: 32px;
}
.hero__list li::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url("./../img/hero/list-marker.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.transport {
  padding-top: 70px;
  padding-bottom: 125px;
  background-color: #F6F6F6;
}

.transport__cards {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  column-gap: 25px;
  margin: 0 auto;
  /* Tablet */
}
@media (max-width: 1199px) {
  .transport__cards {
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    max-width: 560px;
  }
}

.production {
  padding-top: 75px;
  padding-bottom: 44px;
}

.production__title {
  margin-bottom: 45px;
}

.production__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 5px;
  margin-bottom: 100px;
  max-height: 400px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .production__list {
    font-size: 14px;
  }
}
.production__list li {
  display: flex;
  align-items: center;
  column-gap: 15px;
  width: calc((100% - 2 * 15px) / 3);
}
.production__list li img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.containers {
  padding-top: 44px;
  padding-bottom: 60px;
}

.containers__cards {
  display: flex;
  align-items: stretch;
  column-gap: 40px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .containers__cards {
    column-gap: 20px;
  }
}

.trains {
  padding-top: 60px;
  padding-bottom: 70px;
}

.trains__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 40px;
}

.trains__image {
  width: 460px;
  height: 355px;
  border-radius: 15px;
  overflow: hidden;
  /* Tablet */
}
@media (max-width: 1199px) {
  .trains__image {
    width: 380px;
    height: 400px;
  }
}
.trains__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trains__title {
  margin-bottom: 20px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .trains__title {
    margin-bottom: 15px;
    max-width: 400px;
  }
}
.trains__title .title-2 {
  font-size: 30px;
}

.trains__subtitle {
  margin-bottom: 30px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .trains__subtitle {
    margin-bottom: 20px;
  }
}

.trains__list {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.trains__list li {
  position: relative;
  padding-left: 40px;
}
.trains__list li::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url("./../img/hero/list-marker.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.trains__button {
  width: 315px;
  height: 55px;
  line-height: 51px;
}

.services {
  padding-top: 70px;
  padding-bottom: 70px;
}

.services__title {
  margin-bottom: 55px;
  max-width: 550px;
}

.services__cards {
  display: flex;
  align-items: stretch;
  column-gap: 40px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .services__cards {
    column-gap: 20px;
  }
}

.routes {
  padding-top: 70px;
  padding-bottom: 70px;
}

.routes__map-wrapper {
  position: relative;
}

.routes__title {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85px;
  background-image: url("./../img/routes/background.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  /* Tablet */
}
@media (max-width: 1199px) {
  .routes__title {
    height: 70px;
  }
}
.routes__title .title-2 {
  font-size: 40px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .routes__title .title-2 {
    font-size: 35px;
  }
}

.routes__map {
  width: 100%;
  height: auto;
}
.routes__map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clients {
  padding-top: 70px;
  padding-bottom: 48px;
}

.clients__row {
  display: flex;
  align-items: center;
  column-gap: 35px;
  margin-bottom: 45px;
}

.clients__button {
  width: 280px;
  height: 55px;
  line-height: 51px;
  font-size: 14px;
}

.clients__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
}
.clients__slider img {
  width: 160px;
  height: 36px;
  object-fit: contain;
  transition: transform .2s ease-in;
}
.clients__slider img:hover {
  transform: scale(1.1);
}

.partners {
  padding-top: 48px;
  padding-bottom: 60px;
}

.partners__title {
  margin-bottom: 45px;
}

.partners__button {
  width: 280px;
  height: 55px;
  line-height: 51px;
}

.partners__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 124px;
}
.partners__slider img {
  width: 160px;
  height: 44px;
  object-fit: contain;
  transition: transform .2s ease-in;
}
.partners__slider img:hover {
  transform: scale(1.1);
}

.faq {
  padding-top: 60px;
  padding-bottom: 90px;
}

.faq__list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.about {
  padding-top: 83px;
  padding-bottom: 48px;
  background-color: #F6F6F6;
  overflow: hidden;
}
.about .container {
  position: relative;
}

.about__title {
  margin-bottom: 30px;
}

.about__text {
  margin-bottom: 40px;
  max-width: 700px;
  font-size: 14px;
}
.about__text p + p {
  margin-top: 15px;
}

.about__subtitle {
  margin-bottom: 27px;
  font-weight: 800;
  font-size: 18px;
}

.about__benefits-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 15px;
  max-height: 160px;
  font-size: 14px;
}
.about__benefits-list li {
  position: relative;
  padding-left: 33px;
  width: calc((100% - 40px) / 2);
}
.about__benefits-list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("./../img/about/list-marker.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.about__images {
  position: absolute;
  top: 100px;
  right: -300px;
  display: flex;
  /* Tablet */
}
@media (max-width: 1199px) {
  .about__images {
    display: none;
  }
}

.about-platform-1-image img {
  width: 379px;
  height: 109px;
  object-fit: contain;
}

.about-platform-2-image img {
  width: 379px;
  height: 109px;
  object-fit: contain;
}

.search {
  padding-top: 48px;
  padding-bottom: 60px;
  background-color: #F6F6F6;
}

.search__row {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.search__input-wrapper {
  position: relative;
}

.search__input {
  padding-left: 65px;
  width: 557px;
  height: 60px;
  font-size: 16px;
}

.search__search-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.search__button {
  width: 183px;
  height: 60px;
  font-size: 16px;
}

.contacts {
  padding-top: 60px;
  padding-bottom: 105px;
  background-color: #F6F6F6;
}

.contacts__title {
  margin-bottom: 30px;
}

.contacts__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .contacts__row {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    row-gap: 10px;
  }
}

.contacts__metro {
  display: flex;
  column-gap: 27px;
  align-items: center;
  font-weight: 800;
  font-size: 20px;
}
.contacts__metro li {
  position: relative;
  padding-left: 40px;
}
.contacts__metro li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 30px;
  background-image: url("./../img/contacts/metro.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.contacts__map {
  width: 1160px;
  height: 400px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .contacts__map {
    width: 860px;
  }
  .contacts__map iframe {
    width: 860px;
  }
}

.footer {
  margin-top: auto;
  /* sticky footer */
  padding-top: 22px;
  padding-bottom: 30px;
  background-color: #3451a0;
  color: #FFF;
}

.footer__row {
  display: flex;
}

.footer__column {
  width: 25%;
}

.footer__column-info {
  margin-bottom: 22px;
  max-width: 160px;
  min-height: 60px;
  font-size: 14px;
}

.footer__column-list-title {
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 14px;
}

.footer__column-list {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  font-size: 12px;
}
.footer__column-list + .footer__column-list-title {
  margin-top: 20px;
}

.footer__last-column-info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-bottom: 22px;
  font-size: 14px;
}

.footer__button {
  color: #FFF;
  border-color: #FFF;
}

/*# sourceMappingURL=main.css.map */
