.header-top {
	padding-top: 30px;
	padding-bottom: 30px;
}

.header-top__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

// .header-top__left {}

.header-top__logo {
	width: 240px;
	height: 42px;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.header-top__right {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 25px;
}

// .header-top__contacts {}

.header-top__phone {
	font-weight: 800;
	font-size: 20px;
}

.header-top__email {
	font-size: 14px;
	color: #868686;
}

.header-top__buttons {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 10px;
}

.header-top__callback-button {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;

	&:hover {
		.header-top__callback-button-arrow {
			transform: translateX(5px);
		}
	}
}

.header-top__callback-button-arrow {
	transition: transform .2s ease-in;
}

.header-top__languages {
	display: flex;
	align-items: center;
}