.clients {
	padding-top: 70px;
	padding-bottom: 48px;
}

.clients__row {
	display: flex;
	align-items: center;
	column-gap: 35px;
	margin-bottom: 45px;

	/* Mobile */
	@media (max-width: 899px) {
		flex-direction: column;
		justify-content: center;
		align-items: unset;
	}
}

// .clients__title {}

.clients__button {
	width: 280px;
	height: 55px;
	line-height: 51px;
	font-size: 14px;
}

.clients__slider {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 76px;

	img {
		width: 160px;
		height: 36px;
		object-fit: contain;
		transition: transform .2s ease-in;

		&:hover {
			transform: scale(1.1);
		}
	}
}