.transport {
	padding-top: 70px;
	padding-bottom: 125px;
	background-color: #F6F6F6;
}

.transport__cards {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	column-gap: 25px;
	margin: 0 auto;

	/* Tablet */
	@media (max-width: 1199px) {
		flex-wrap: wrap;
		column-gap: 20px;
		row-gap: 20px;
		max-width: 560px;
	}
}