.tab {
	background-color: #f6f6f6;
}

.tab__button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	height: 67px;
	font-weight: 600;
	font-size: 20px;

	&:hover {
		cursor: pointer;

		.tab__icon {
			background-color: #e80000;

			svg {
				stroke: #FFF;
			}
		}
	}
}

.tab__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: transparent;
	transition: background-color .2s ease-in, transform .2s ease-in;

	&.active {
		transform: rotate(45deg);
	}

	svg {
		stroke: #e80000;
		transition: stroke .2s ease-in;
	}
}

.tab__content {
	padding-left: 20px;
	padding-right: 20px;
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition: all .2s ease-in;

	&.active {
		padding-top: 20px;
		padding-bottom: 20px;
		height: auto;
		opacity: 1;
	}
}