.service-card {
	display: flex;
	flex-direction: column;
	padding: 17px 15px 27px;
	height: auto;
	width: 360px;
	border: 1px solid #f3f3f3;
	border-radius: 10px;
	background-color: #fafafa;

	/* Tablet */
	@media (max-width: 1199px) {
		width: 273px;
	}
}

.service-card__image {
	margin-bottom: 17px;
	width: 100%;
	height: 167px;
	border-radius: 10px;
	overflow: hidden;

	/* Tablet */
	@media (max-width: 1199px) {
		height: 125px;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.service-card__title {
	display: flex;
	align-items: center;
	column-gap: 9px;
	margin-bottom: 17px;
	padding-left: 15px;
	font-size: 18px;
	font-weight: 800;

	/* Tablet */
	@media (max-width: 1199px) {
		font-size: 16px;
	}

	img {
		width: 42px;
		height: 42px;
		object-fit: contain;
	}
}

.service-card__text {
	margin-bottom: 22px;
	padding-left: 15px;
	padding-right: 15px;

	/* Tablet */
	@media (max-width: 1199px) {
		font-size: 14px;
	}
}

.service-card__button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	width: 90%;
	height: 55px;
    line-height: 51px;
	font-size: 14px;
}
