.containers {
	padding-top: 44px;
	padding-bottom: 60px;
}

.containers__cards {
	display: flex;
	align-items: stretch;
	column-gap: 40px;

	/* Tablet */
	@media (max-width: 1199px) {
		column-gap: 20px;
	}
}