.search {
	padding-top: 48px;
	padding-bottom: 60px;
	background-color: #F6F6F6;
}

.search__row {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
}

.search__input-wrapper {
	position: relative;
}

.search__input {
	padding-left: 65px;
	width: 557px;
	height: 60px;
	font-size: 16px;
}

.search__search-icon {
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
}

.search__button {
	width: 183px;
	height: 60px;
	font-size: 16px;
}




